.largeChartsContainer {
    align-items: center;
    justify-content: center;
    display: grid;
    padding: 0.5rem;
    background-color: var(--foreground);
    border-radius: 24px;
    margin-top: 0.5rem;
}

.backLink {
    display: inline-block;
    font-weight: bold;

    :hover {
        text-decoration: underline;
    }
}

.infoHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    font-size: 1.4rem;
    margin-top: 1rem;
    gap: 1rem;
}

.infoHeader > *:nth-child(odd) {
    text-align: left;
}

.infoHeader > *:nth-child(even) {
    justify-self: right;
}


.deletePatient {
    background-color: red;
    max-width: fit-content;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
}

.chartTitle {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--textColor);
    margin-left: 1.5rem;
    margin-top: 2rem;
}

.viewToggle {
    display: flex;
    background-color: var(--hoverColor);
    max-width: fit-content;
    border-radius: 12px;
    justify-self: center;
    margin-top: 2rem;
}

.tabButton {
  padding: 0.2rem 2.5rem;
  margin: 0.5rem;
  background: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s;
  color: var(--textColor);
  border-radius: 12px;
}

.tabButton.active {
  background: var(--foreground);
  font-weight: bold;
}

.tabButton:hover {
    background-color: var(--foreground);
}


.dataTableWrapper {
    overflow-x: auto;
    border-radius: 24px;
    margin-top: 0.5rem;
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    color: var(--textColor);
}

.dataTableHead tr {
    background-color: #f8f9fa;
}

.dataTableHeader {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #dee2e6;
}

.dataTableRow {
    border-bottom: 1px solid #dee2e6;
}

.dataTableRow:nth-child(even) {
    background-color: #f8f9fa;
}

.dataTableCell {
    padding: 12px;
}

.backToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--hoverColor);
    color: var(--textColor);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
}