@import "tailwindcss";

:root {
  --background: #FFF0C4;
  --foreground: #981c13;
  --textColor: black;
  --hoverColor: #a12219;
  --secondaryHover: #f5e1c0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #C8ACD6;
    --background: #17153B;
    --textColor: #831b8d;
    --hoverColor: #bc9ccb;
    --secondaryHover: #2e2c4a;
    --criticalFlash: #ffcccc;
    --criticalBackground: #ff6666;
    --warningBackground: #ffdd57;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

header {
  background: var(--foreground);
  color: var(--background);
}

h1 {
  font-size: 56px;
}

@keyframes flash-red {
    0% { background-color: var(--criticalFlash); }
    100% { background-color: var(--criticalBackground); }
}