.loginForm {
    background-color: var(--foreground);
    width: 40%;
    padding: 1rem 1rem 2rem 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    color: var(--textColor);
    border-radius: 2rem;
    text-align: center;
}

.inputLabel {
    font-size: 18px;
    display: block;
    font-weight: bold;
}

.inputField {
    color: black;
    background-color: white;
    margin-left: 0.3rem;
    padding: 0rem 0.3rem;
}

.loginComponent {
    margin: 1rem 1rem;
}

.loginButton {
    background-color: white;
    color: var(--textColor);
    border: 4px solid var(--textColor);
    padding: 0.2rem 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.container {
    background-color: var(--background);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}