.patientTitle {
    color: var(--textColor);
    font-size: 2rem;
    font-weight: bold;
}

.patientEditor {
    margin-top: 1rem;
    background-color: var(--foreground);
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    color: var(--textColor);
    font-size: 1.2rem;
    border-radius: 10px;
}

.patientForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputLabel {
    font-weight: 600;
    color: var(--textColor);
}

.inputField {
    font-weight: 500;
    color: var(--textColor);
    background-color: white;
    border-radius: 2px;
    margin: 0.2rem 2rem 0.2rem 0.5rem;
    padding: 0 0 0 0.3rem;
}

.addPatientButton {
    border-radius: 3px;
    background-color: rgb(47, 221, 41);
    color: black;
    padding: 0.5rem;
    font-weight: bold;

    &:hover {
        color: white;
        cursor: pointer;
    }
}

.subtitle {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--textColor);
    margin-left: 1.5rem;
}

.errorMessage {
    color: red;
    font-weight: bold;
    margin-left: 1.5rem;
}

.successMessage {
    color: rgb(24, 167, 19);
    font-weight: bold;
    margin-left: 1.5rem;
}

.patientHeader {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 1rem;
}

.chartsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 1rem;
}

.patientDisplay {
    margin-top: 1rem;
    background-color: var(--foreground);
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    color: var(--textColor);
    font-size: 1.2rem;
    border-radius: 10px;
}