.logTitle {
    color: var(--textColor);
    font-size: 2rem;
    font-weight: bold;
}

.details {
    font-size: 1rem;
    margin-left: 2rem;
}

.eventTitle {
    font-size: 1.2rem;
    padding: 0.5rem;
}

.event-item {
    padding: 0.5rem;
    background-color: var(--background);

    &:hover {
        background-color: var(--secondaryHover);
    }
}