.patient-item {
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--foreground);
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    border-radius: 12px;
    color: var(--textColor);
    font-size: 1.4rem;
}

.status-ok {
    color: green;
}
.status-warning {
    color: orange;
}
.status-critical {
    color: red;
}
.status-unknown {
    color: gray;
}

.dashTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}